body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e2f30;
}
.con{

  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #90beef;


}
h3{
  color: #52ab6c;
}
.container {
  background-color: #d2d7c4;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.left {
  flex: 1;
  padding: 10px;
}
.right {
  flex: 1;
  padding: 10px;
  border-left: 1px solid #ccc;
}
h1 {
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
/* Style for input elements */
input[type='text'],
input[type='number'] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Style for buttons */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.deleteButton {
  text-align: center;
}
i {
  margin: 5px 7px;
  font-size: 20px;
  cursor: pointer;
}
#yesBtn:hover {
  color: red;
}
#noBtn:hover {
  color: green;
}