name: C++ Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Compile insertionSort.cpp
      run: g++ insertionSort.cpp -o my_program

    - name: Run logic check
      run: ./my_program
